<div class="mt-4">
  <!--  nothing selected-->
  <div class="text-center pb-1 mb-4" *ngIf="!routeStart || !routeEnd" style="border-bottom: 0px solid #493130">
    <span>Valitse lähtö- ja määräasema.</span>
  </div>

  <div class="text-center pb-1 mb-4" *ngIf="routeStart && routeEnd" style="border-bottom: 0px solid #493130">
    <span class="mr-2">Matka-aika:</span>
    <b>{{calculateTotalTime()}} {{calculateTotalTime() === 1 ? 'päivä' : 'päivää'}}</b>
  </div>
  <!--  if route start end end the same-->
  <div class="row d-flex align-items-center justify-content-center change-bus rounded"
       *ngIf="routeStart && routeEnd && routeStart === routeEnd && lineRoutes.length === 0">
    <img [src]="'/assets/images/no-change.svg'" style="height: 85px" alt="walker"/>
    <fa-layers [fixedWidth]="true" class="start-stop-node" style="font-size: 100px">
      <fa-icon [icon]="['fas', 'square']" [style.color]="startEndColor"></fa-icon>
      <fa-icon [icon]="['far', 'square']"></fa-icon>
      <fa-layers-text content="{{routeStart}}"
                      class="start-stop-node-content"
                      transform="shrink-8"></fa-layers-text>
    </fa-layers>
  </div>
  <!--  normal operations-->
  <ng-container *ngFor="let route of lineRoutes; index as i">
    <!--    hop on bus-->
    <div class="row d-flex align-items-center justify-content-center change-bus rounded mb-4" *ngIf="i === 0">
      <fa-layers [fixedWidth]="true" class="start-stop-node">
        <fa-icon [icon]="['fas', 'square']" [style.color]="startEndColor"></fa-icon>
        <fa-icon [icon]="['far', 'square']"></fa-icon>
        <fa-layers-text content="{{routeStart}}"
                        class="start-stop-node-content"
                        transform="shrink-8"></fa-layers-text>
      </fa-layers>
      <fa-icon [icon]="['fas', 'long-arrow-alt-right']" size="1x" class="icon-margin"></fa-icon>
      <img [src]="'/assets/images/walking-man.svg'" style="height: 53px" alt="walker"/>
      <fa-icon [icon]="['fas', 'long-arrow-alt-right']" size="1x" class="icon-margin"></fa-icon>
      <fa-icon [icon]="['fas', 'bus']" size="3x" [style.color]="route.lineColor" class="icon-margin"></fa-icon>
    </div>

    <!--    stay on bus from stop to stop-->
    <div class="row d-flex align-items-center route-info rounded">
      <!--      <div class="col-auto px-1">-->
      <!--        <fa-icon [icon]="['fas', 'bus']" size="2x" [style.color]="route.lineColor" class="icon-margin"></fa-icon>-->
      <!--      </div>-->
      <div class="col font-weight-bold">
        {{route.totalTime}} {{route.totalTime === 1 ? 'päivä' : 'päivää'}}
      </div>
      <div class="col-auto px-1 bus-stop">
        <fa-layers [fixedWidth]="true" size="1x">
          <fa-icon [icon]="['far', 'circle']"></fa-icon>
          <fa-layers-text content="{{route.startNode}}"
                          class="stop-node"
                          transform="shrink-7"></fa-layers-text>
        </fa-layers>
      </div>
      <div class="col-auto px-1">
        <fa-icon [icon]="'long-arrow-alt-right'" size="2x" [style.color]="route.lineColor"></fa-icon>
      </div>
      <div class="col-auto px-1 bus-stop">
        <fa-layers [fixedWidth]="true" size="1x">
          <fa-icon [icon]="['far', 'circle']"></fa-icon>
          <fa-layers-text content="{{route.endNode}}"
                          class="stop-node"
                          transform="shrink-7"></fa-layers-text>
        </fa-layers>
      </div>
    </div>

    <!--    change bus-->
    <div class="row d-flex align-items-center justify-content-center change-bus rounded"
         *ngIf="i < lineRoutes.length -1">
      <!--      <fa-icon [icon]="['fas', 'bus']" size="3x" [style.color]="route.lineColor" class="icon-margin"></fa-icon>-->
      <!--      <fa-icon [icon]="['fas', 'arrow-right']" size="1x" class="icon-margin"></fa-icon>-->
      <div class="col-auto">
        <fa-icon [icon]="['fas', 'exchange-alt']" size="2x" [style.color]="'#d24f2e'" class="icon-margin"></fa-icon>
      </div>
      <!--      <fa-icon [icon]="['fas', 'arrow-right']" size="1x" class="icon-margin"></fa-icon>-->
      <div class="col d-flex align-items-center justify-content-end">
        <fa-icon [icon]="['fas', 'bus']" size="3x" [style.color]="this.lineRoutes[i+1].lineColor"
                 class="icon-margin"></fa-icon>
        <img [src]="'/assets/images/change.svg'" style="height: 55px" alt="walker"/>
      </div>
    </div>

    <!--    if last stop, step out of the bus-->
    <div class="row d-flex align-items-center justify-content-center change-bus mt-4"
         *ngIf="i === lineRoutes.length - 1">
      <fa-icon [icon]="['fas', 'bus']" size="3x" [style.color]="route.lineColor" class="icon-margin"></fa-icon>
      <fa-icon [icon]="['fas', 'long-arrow-alt-right']" size="1x" class="icon-margin"></fa-icon>
      <ng-container *ngIf="calculateTotalTime() >= 15">
        <img [src]="'/assets/images/walker.svg'" style="height: 52px" alt="walker"/>
      </ng-container>
      <ng-container *ngIf="calculateTotalTime() < 15">
        <img [src]="'/assets/images/walking-man.svg'" style="height: 53px" alt="walker"/>
      </ng-container>
      <fa-icon [icon]="['fas', 'long-arrow-alt-right']" size="1x" class="icon-margin"></fa-icon>
      <fa-layers [fixedWidth]="true" class="start-stop-node">
        <fa-icon [icon]="['fas', 'square']" [style.color]="startEndColor"></fa-icon>
        <fa-icon [icon]="['far', 'square']"></fa-icon>
        <fa-layers-text content="{{routeEnd}}" class="start-stop-node-content"
                        transform="shrink-8"></fa-layers-text>
      </fa-layers>
    </div>
  </ng-container>
</div>

