<div class="container-fluid" style="min-width: 350px">
  <div class="row d-flex align-items-center justify-content-center header-wrapper">
    <h1 class="header-big">Linjuri</h1>
  </div>
  <div class="row px-3">
    <div class="col-lg-5 col-xl-4 p-0 pr-lg-2 my-4 my-lg-0 overflow-auto route-display">
      <bb-route-selector [routeStart]="routeStart" [routeEnd]="routeEnd"></bb-route-selector>
      <bb-route-display [routeStart]="routeStart"
                        [routeEnd]="routeEnd"
                        [routeEdges]="routeEdges"></bb-route-display>
    </div>
    <div class="col-lg-7 col-xl-8 p-0 pl-lg-2" style="min-height: calc(100vh - 120px)">
      <bb-bus-map [routeStart]="routeStart"
                  [routeEnd]="routeEnd"
                  [route]="route"
                  [routeEdges]="routeEdges"></bb-bus-map>
    </div>
  </div>
</div>
