.header-big {
  font-size: calc(20px + 3vw);
  font-weight: 500;
  letter-spacing: 15px;
  text-align: center;
  padding-left: 15px;
  margin-bottom: 0;
}

.header-small {
  font-size: calc(20px + 2vh)
}

.header-wrapper {
  min-height: 8vh;
  margin-top: 2vh;
  border-top: 3px solid #493130;
  border-bottom: 3px solid #493130;
  //border: 3px solid black;
  //border-radius: 5px;
  background-color: #96a596;
}

@media (min-width: 992px) {
  .route-display {
    max-height: 80vh;
  }

  .header-big {
    font-size: calc(20px + 2vw);
  }
}
