<div class="mb-3">
  <div class="form-group">
    <label for="routeStart">Lähtöasema</label>
    <select class="form-control route-selectors"
            id="routeStart"
            [(ngModel)]="routeStart"
            (ngModelChange)="routeChangeHandler()">
      <option *ngFor="let id of routeIds"
              [value]="id">
        {{id}}
      </option>
    </select>
  </div>
  <div class="form-group">
    <label for="routeEnd">Määräasema</label>
    <select class="form-control route-selectors"
            id="routeEnd"
            [(ngModel)]="routeEnd"
            (ngModelChange)="routeChangeHandler()">
      <option *ngFor="let id of routeIds"
              [value]="id">
        {{id}}
      </option>
    </select>
  </div>
  <div class="d-flex align-items-center justify-content-end">
    <fa-icon [icon]="['fas', 'times']"
             size="1x"
             style="color: #493130; cursor: pointer"
             (click)="removeSelections()"
             title="Poista valinnat"></fa-icon>
    <!--    <button class="btn btn-sm route-selectors" (click)="removeSelections()" style="width: 100%">-->
    <!--      Tyhjennä valinnat-->
    <!--    </button>-->
  </div>
</div>

